@import "../index.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
  background-color: $mainColor;
  width: calc(100% - 10rem);
  i {
    display: none;
  }
  h1 {
    line-height: 0;
    font-weight: bold;
    color: $thirdColor;
  }
  button {
    background: $thirdColor;
    border: none;
    color: $mainColor;
    &:hover {
      background: $secondaryColor;
      color: white;
    }
    span {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    i {
      display: block;
      svg {
        color: $thirdColor;
        font-size: 6rem;
      }
    }
    width: 100%;
  }
}
