@import "../index.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: $mainColor;
  width: calc(100% - 10rem);
  h1 {
    margin-left: 1rem;
    line-height: 0;
  }
  button {
    border: none;
    color: $mainColor;
    span {
      font-size: 1.6rem;
    }
  }
}
